In [1]:
import numpy as np
import pandas as pd

In [155]:
magmo_df = pd.read_csv('~/Desktop/lv_data/MAGMO_fitted_params_Bfield.csv')
magmo_df

,Source Name,Trans,Vel_RCP,Err_Vel_RCP,Flux_RCP,Err_Flux_RCP,FWHM_RCP,Err_FWHM_R,Vel_LCP,Err_Vel_LCP,Flux_LCP,Err_Flux_LCP,FWHM_LCP,Err_FWHM_L,B_field (mG),Err_B_field,Reliability
0,188.946+0.886,1665,6.82,0.05,0.14,0.03,0.51,0.12,..,..,..,..,..,..,#VALUE!,#VALUE!,..
1,188.946+0.886,1665,..,..,..,..,..,..,7.43,0.03,0.14,0.04,0.24,0.08,#VALUE!,#VALUE!,..
2,188.946+0.886,1665,..,..,..,..,..,..,8.28,0.09,0.16,0.04,0.32,0.18,#VALUE!,#VALUE!,..
3,188.946+0.886,1665,9.14,0.01,0.62,0.06,0.25,0.03,8.58,0.01,0.93,0.06,0.22,0.03,0.9,0.1,A
4,188.946+0.886,1665,9.51,0.05,0.26,0.03,0.41,0.13,8.93,0.02,0.37,0.04,0.31,0.05,1,0.2,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4630,019.613-0.134,1665,55,0.01,0.58,0.03,0.3,0.03,55.08,0.01,0.92,0.03,0.31,0.01,-0.1,0.1,N
4631,019.613-0.134,1665,..,..,..,..,..,..,55.5,0.04,0.08,0.03,0.2,0.1,#VALUE!,#VALUE!,..
4632,019.613-0.134,1665,..,..,..,..,..,..,57.89,0.02,0.17,0.04,0.17,0.04,#VALUE!,#VALUE!,..
4633,019.883-0.534,1667,45.49,0.02,0.17,0.03,0.27,0.06,45.61,0.02,0.18,0.02,0.38,0.05,-0.3,0.2,A
4634,019.883-0.534,1667,45.83,0.05,0.07,0.03,0.2,0.13,..,..,..,..,..,..,#VALUE!,#VALUE!,..

In [156]:
magmo_df = magmo_df[['Source Name', 'Trans', 'Vel_RCP', 'Vel_LCP', 'B_field (mG)', 'Reliability']]

In [157]:
split_pairs = magmo_df[magmo_df['Reliability'] == 'A']

In [158]:
split_pairs

        Source Name  Trans Vel_RCP Vel_LCP B_field (mG) Reliability
3     188.946+0.886   1665    9.14    8.58          0.9           A
4     188.946+0.886   1665    9.51    8.93            1           A
8     188.946+0.886   1667    9.16    8.87          0.8           A
9     189.030+0.783   1665    9.49    10.3         -1.4           A
10    189.030+0.783   1667    9.74   10.08           -1           A
...             ...    ...     ...     ...          ...         ...
4581  019.487+0.151   1612   25.37   25.27          0.8           A
4590  019.609-0.235   1665    20.9   22.16         -2.1           A
4611  019.609-0.235   1667   21.27   21.89         -1.8           A
4627  019.613-0.134   1665   53.09      53          0.2           A
4633  019.883-0.534   1667   45.49   45.61         -0.3           A

[400 rows x 6 columns]

In [168]:
split_pairs['Vel_LCP'].apply(type)

3       <class 'str'>
4       <class 'str'>
8       <class 'str'>
9       <class 'str'>
10      <class 'str'>
            ...
4581    <class 'str'>
4590    <class 'str'>
4611    <class 'str'>
4627    <class 'str'>
4633    <class 'str'>
Name: Vel_LCP, Length: 400, dtype: object

In [169]:
split_pairs['Vel_LCP'] = split_pairs['Vel_LCP'].astype('float')

/home/chikaedu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [170]:
split_pairs['Vel_LCP'].apply(type)

3       <class 'float'>
4       <class 'float'>
8       <class 'float'>
9       <class 'float'>
10      <class 'float'>
             ...
4581    <class 'float'>
4590    <class 'float'>
4611    <class 'float'>
4627    <class 'float'>
4633    <class 'float'>
Name: Vel_LCP, Length: 400, dtype: object

In [183]:
split_pairs

        Source Name  Trans  Vel_RCP  Vel_LCP  B_field (mG) Reliability
3     188.946+0.886   1665     9.14     8.58           0.9           A
4     188.946+0.886   1665     9.51     8.93           1.0           A
8     188.946+0.886   1667     9.16     8.87           0.8           A
9     189.030+0.783   1665     9.49    10.30          -1.4           A
10    189.030+0.783   1667     9.74    10.08          -1.0           A
...             ...    ...      ...      ...           ...         ...
4581  019.487+0.151   1612    25.37    25.27           0.8           A
4590  019.609-0.235   1665    20.90    22.16          -2.1           A
4611  019.609-0.235   1667    21.27    21.89          -1.8           A
4627  019.613-0.134   1665    53.09    53.00           0.2           A
4633  019.883-0.534   1667    45.49    45.61          -0.3           A

[400 rows x 6 columns]

In [184]:
positive_pairs = split_pairs[split_pairs['B_field (mG)'] > 0.0]

In [185]:
positive_pairs

        Source Name  Trans  Vel_RCP  Vel_LCP  B_field (mG) Reliability
3     188.946+0.886   1665     9.14     8.58           0.9           A
4     188.946+0.886   1665     9.51     8.93           1.0           A
8     188.946+0.886   1667     9.16     8.87           0.8           A
22    232.620+0.996   1665    22.31    22.13           0.3           A
30    269.152-1.128   1665    14.06    13.39           1.1           A
...             ...    ...      ...      ...           ...         ...
4464  018.461-0.004   1667    49.89    49.80           0.3           A
4467  018.461-0.004   1612    50.40    50.18           1.8           A
4568  019.487+0.151   1667    24.16    23.95           0.6           A
4581  019.487+0.151   1612    25.37    25.27           0.8           A
4627  019.613-0.134   1665    53.09    53.00           0.2           A

[173 rows x 6 columns]

In [186]:
positive_pairs['mid_vel'] = np.round((positive_pairs['Vel_RCP'] + positive_pairs['Vel_LCP']) / 2, 2)

/home/chikaedu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [187]:
positive_pairs

,Source Name,Trans,Vel_RCP,Vel_LCP,B_field (mG),Reliability,mid_vel
3,188.946+0.886,1665,9.14,8.58,0.9,A,8.86
4,188.946+0.886,1665,9.51,8.93,1.0,A,9.22
8,188.946+0.886,1667,9.16,8.87,0.8,A,9.02
22,232.620+0.996,1665,22.31,22.13,0.3,A,22.22
30,269.152-1.128,1665,14.06,13.39,1.1,A,13.73
...,...,...,...,...,...,...,...
4464,018.461-0.004,1667,49.89,49.80,0.3,A,49.84
4467,018.461-0.004,1612,50.40,50.18,1.8,A,50.29
4568,019.487+0.151,1667,24.16,23.95,0.6,A,24.06
4581,019.487+0.151,1612,25.37,25.27,0.8,A,25.32
4627,019.613-0.134,1665,53.09,53.00,0.2,A,53.04

In [188]:
negative_pairs.to_csv('A_positive_pairs_all_trans', encoding='utf-8')