In [1]:
import numpy as np
import pandas as pd

In [87]:
magmo_df = pd.read_csv('~/Desktop/lv_data/MAGMO_fitted_params_Bfield.csv')

In [88]:
magmo_df = magmo_df[['Source Name', 'Trans', 'Vel_RCP', 'Vel_LCP','Reliability']]

In [89]:
non_split = magmo_df[magmo_df['Reliability'] == 'N']

In [90]:
non_split

        Source Name  Trans Vel_RCP Vel_LCP Reliability
15    196.453-1.677   1665   15.91   15.95           N
17    196.453-1.677   1665    17.8   17.83           N
21    232.620+0.996   1665   21.74   21.78           N
28    263.250+0.514   1667   10.96   10.99           N
37    284.351-0.418   1667    5.62    5.73           N
...             ...    ...     ...     ...         ...
4569  019.487+0.151   1667   24.84   24.54           N
4574  019.487+0.151   1612   22.33   22.23           N
4580  019.487+0.151   1612   25.01   24.97           N
4629  019.613-0.134   1665   54.62   54.57           N
4630  019.613-0.134   1665      55   55.08           N

[625 rows x 5 columns]

In [97]:
non_split['mid_vel'] = non_split['Vel_RCP']/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [98]:
non_split['Vel_RCP'].apply(type)

15      <class 'str'>
17      <class 'str'>
21      <class 'str'>
28      <class 'str'>
37      <class 'str'>
            ...
4569    <class 'str'>
4574    <class 'str'>
4580    <class 'str'>
4629    <class 'str'>
4630    <class 'str'>
Name: Vel_RCP, Length: 625, dtype: object

In [99]:
non_split['Vel_RCP'] = non_split['Vel_RCP'].astype('float')

/home/chikaedu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [100]:
non_split['Vel_RCP'].apply(type)

15      <class 'float'>
17      <class 'float'>
21      <class 'float'>
28      <class 'float'>
37      <class 'float'>
             ...
4569    <class 'float'>
4574    <class 'float'>
4580    <class 'float'>
4629    <class 'float'>
4630    <class 'float'>
Name: Vel_RCP, Length: 625, dtype: object

In [101]:
non_split['Vel_LCP'] = non_split['Vel_LCP'].astype('float')

/home/chikaedu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [102]:
non_split['Vel_LCP'].apply(type)

15      <class 'float'>
17      <class 'float'>
21      <class 'float'>
28      <class 'float'>
37      <class 'float'>
             ...
4569    <class 'float'>
4574    <class 'float'>
4580    <class 'float'>
4629    <class 'float'>
4630    <class 'float'>
Name: Vel_LCP, Length: 625, dtype: object

In [103]:
non_split['mid_vel'] = non_split['Vel_RCP']/2

/home/chikaedu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [104]:
non_split

        Source Name  Trans  Vel_RCP  Vel_LCP Reliability  mid_vel
15    196.453-1.677   1665    15.91    15.95           N    7.955
17    196.453-1.677   1665    17.80    17.83           N    8.900
21    232.620+0.996   1665    21.74    21.78           N   10.870
28    263.250+0.514   1667    10.96    10.99           N    5.480
37    284.351-0.418   1667     5.62     5.73           N    2.810
...             ...    ...      ...      ...         ...      ...
4569  019.487+0.151   1667    24.84    24.54           N   12.420
4574  019.487+0.151   1612    22.33    22.23           N   11.165
4580  019.487+0.151   1612    25.01    24.97           N   12.505
4629  019.613-0.134   1665    54.62    54.57           N   27.310
4630  019.613-0.134   1665    55.00    55.08           N   27.500

[625 rows x 6 columns]

In [120]:
non_split['mid_vel'] = np.round((non_split['Vel_RCP'] + non_split['Vel_LCP']) / 2, 2)

/home/chikaedu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [121]:
non_split

        Source Name  Trans  Vel_RCP  Vel_LCP Reliability  mid_vel
15    196.453-1.677   1665    15.91    15.95           N    15.93
17    196.453-1.677   1665    17.80    17.83           N    17.81
21    232.620+0.996   1665    21.74    21.78           N    21.76
28    263.250+0.514   1667    10.96    10.99           N    10.98
37    284.351-0.418   1667     5.62     5.73           N     5.68
...             ...    ...      ...      ...         ...      ...
4569  019.487+0.151   1667    24.84    24.54           N    24.69
4574  019.487+0.151   1612    22.33    22.23           N    22.28
4580  019.487+0.151   1612    25.01    24.97           N    24.99
4629  019.613-0.134   1665    54.62    54.57           N    54.60
4630  019.613-0.134   1665    55.00    55.08           N    55.04

[625 rows x 6 columns]

In [125]:
 non_split.to_csv('non_split', encoding='utf-8')