In [1]:
import numpy as np
import pandas as pd

In [17]:
magmo_df = pd.read_csv('~/Downloads/MAGMO_fitted_params_Bfield.csv')
magmo_df = magmo_df[['Source Name', 'Trans', 'Vel_RCP', 'Vel_LCP', 'B_field (mG)', 'Reliability']]

In [26]:
non_split = magmo_df[magmo_df['Reliability'] == 'N']

In [28]:
non_split

        Source Name  Trans Vel_RCP Vel_LCP B_field (mG) Reliability
11    189.032+0.809   1720    3.56    3.50          0.5           N
18    196.453-1.677   1665   15.91   15.95         -0.1           N
20    196.453-1.677   1665   17.80   17.83         -0.1           N
24    232.620+0.996   1665   21.74   21.78         -0.1           N
31    263.250+0.514   1667   10.96   10.99         -0.1           N
...             ...    ...     ...     ...          ...         ...
4623  019.487+0.151   1612   22.33   22.23          0.8           N
4629  019.487+0.151   1612   25.01   24.97          0.3           N
4673  019.610-0.234   1720   43.67   43.66          0.1           N
4679  019.613-0.134   1665   54.62   54.57          0.1           N
4680  019.613-0.134   1665   55.00   55.08         -0.1           N

[636 rows x 6 columns]

In [29]:
dots = non_split[non_split['B_field (mG)'] == '..']

In [30]:
dots

Empty DataFrame
Columns: [Source Name, Trans, Vel_RCP, Vel_LCP, B_field (mG), Reliability]
Index: []